<div id="main-container">
    <table id="success">
            <thead>
              <tr>
                  <th >DETALLE</th>
                  <th >VALORES</th>
                  <th >% VARIACIÓN</th>
              </tr>
            </thead>

            <tbody >
              <tr>
                <td >PRODUCCIÓN DE LA INDUSTRIA</td>
                <td >{{produccionIndustria.produccionIndustriaValorActual}}</td>
                <td>{{(produccionIndustria.produccionIndustriaValorActual-produccionIndustria.produccionIndustriaValorAnterior)/produccionIndustria.produccionIndustriaValorAnterior*100}} %</td>

              </tr>
              <tr>
                <td class="td2">COSTE MEDIO DE PRODUCCIÓN (TOTAL)</td>
                <td class="td2">{{produccionIndustria.costeMedioTotalActual}}</td>
                <td class="td2">{{(produccionIndustria.costeMedioTotalActual-produccionIndustria.costeMedioTotalAnterior)/produccionIndustria.costeMedioTotalAnterior*100}} %</td>

              </tr>
              <tr>
                <td >COSTE MEDIO DE PRODUCCIÓN (UNITARIO)</td>
                <td >{{produccionIndustria.costeMedioUnitarioActual}}</td>
                <td>{{(produccionIndustria.costeMedioUnitarioActual-produccionIndustria.costeMedioUnitarioAnterior)/produccionIndustria.costeMedioUnitarioAnterior*100}}%</td>
              </tr>

              <tr >
                <td class="td2">CAPACIDAD DE PRODUCCIÓN</td>
                <td class="td2">{{850+50*produccionIndustria.numero}}</td>
                <td class="td2">{{((850+50*produccionIndustria.numero)-(850+50*(produccionIndustria.numero-1)))/(850+50*(produccionIndustria.numero-1))*100}}%</td>
              </tr>

            </tbody>
      </table>

  </div>

