<div id="main-container">
    <table id="success">
            <thead>
              <tr>
                  <th >DETALLE</th>
                  <th >VALORES</th>
                  <th >% VARIACIÓN</th>
              </tr>
            </thead>

            <tbody >
              <tr>
                <td >PRODUCCIÓN DE LA INDUSTRIA</td>
                <td >{{produccion.produccionIndustriaValorActual | thousandPipe}}</td>
                <td>{{(produccion.produccionIndustriaValorActual-produccion.produccionIndustriaValorAnterior)/produccion.produccionIndustriaValorAnterior*100 | thousandPipe}} %</td>

              </tr>
              <tr>
                <td class="td2">COSTE MEDIO DE PRODUCCIÓN (TOTAL)</td>
                <td class="td2">{{produccion.costeMedioTotalActual | thousandPipe}}</td>
                <td class="td2">{{(produccion.costeMedioTotalActual-produccion.costeMedioTotalAnterior)/produccion.costeMedioTotalAnterior*100 | thousandPipe}} %</td>

              </tr>
              <tr>
                <td >COSTE MEDIO DE PRODUCCIÓN (UNITARIO)</td>
                <td >{{produccion.costeMedioUnitarioActual | thousandPipe}}</td>
                <td>{{(produccion.costeMedioUnitarioActual-produccion.costeMedioUnitarioAnterior)/produccion.costeMedioUnitarioAnterior*100 | thousandPipe}}%</td>
              </tr>

              <tr >
                <td class="td2">CAPACIDAD DE PRODUCCIÓN</td>
                <td class="td2">{{850+50*produccion.numero | thousandPipe}}</td>
                <td class="td2">{{((850+50*produccion.numero)-(850+50*(produccion.numero-1)))/(850+50*(produccion.numero-1))*100 | thousandPipe}}%</td>
              </tr>

            </tbody>
      </table>

  </div>

