<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Business Simulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-lg-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#autores">Autores<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#equipo">Equipo<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#mentoria">Mentoria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#diseño">Diseño<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#agradecimiento">Agradecimiento<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#auspiciadores">Auspiciadores<span class="sr-only">(current)</span></a>
      </li>
    </ul>
     </div>
</nav>
</header>
<div class="jumbotron jumbotron-fluid" id="autores">
  <div class="container">
    <h1 class="display-4">Autores y agradecimientos</h1>
    <p class="lead">
          El software, los documentos y todos los materiales asociados al proyecto "BUSINESS SIMULATOR"
          son obra colectiva planteada, diseñada y desarrollada por un equipo de becarios de los programas
          Twentypreneur y Steem. El proyecto se llevó a cabo bajo la supervisión de mentores asignados
         por nuestro benefactores; La Embajada de los Estados Unidos, American Space y CBA-Cochabamba.</p>
  </div>
</div>
<section class="sec1" id="equipo">
  <div class="container">
      <div class="row">
          <div class="offset-sm-2 col-sm-8">
              <div class="headerText text-center">
                  <h2>Equipo de Desarrollo</h2>
              </div>

          </div>
      </div>


  <div class="row">
    <div class="card" style="width: 18rem;">
        <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jaime Eduardo Clavijo Escobar</h5>
          <p class="card-text">Dirección general</p>
          
        </div>
      </div>
    
        <div class="card" style="width: 18rem;">
            <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Julia Valentina Gutierrez Munzón</h5>
              <p class="card-text">Encargada del equipo de programación</p>
              
            </div>
          </div>
          <div class="card" style="width: 18rem;">
              <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jhoselin Luizaga Rodriguez</h5>
                <p class="card-text">Encargada del equipo de investigación e implementación</p>
                
              </div>
            </div>

  </div>

  <br>
  <div class="row">
      <div class="card" style="width: 18rem;">
          <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ana Carolina Mamani Choque</h5>
            <p class="card-text">Secretaria general</p>
            
          </div>
        </div>
      
          <div class="card" style="width: 18rem;">
              <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ely Fernadez Macias</h5>
                <p class="card-text">Secretaria equipo de investigación e implementación</p>
                
              </div>
            </div>
  
            <div class="card" style="width: 18rem;">
                <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Jeraldine Villanueva Cardozo</h5>
                  <p class="card-text">Equipo de investigación  e implementación</p>
                  
                </div>
              </div>
  
    </div>

    <br>  
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ivy Saskia Sejas Rocabado</h5>
              <p class="card-text">Analista de Programación</p>
              
            </div>
          </div>
        
            <div class="card" style="width: 18rem;">
                <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Luz Silvina Choque Jacinto</h5>
                  <p class="card-text">Control de calidad</p>
                 
                </div>
              </div>
    
              <div class="card" style="width: 18rem;">
                  <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">David Gallo Roca</h5>
                    <p class="card-text">Equipo de programación</p>
                    
                  </div>
                </div>
           </div>
      <br>
      <div class="row">
          <div class="card" style="width: 18rem;">
              <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Rosario Mireya Chuquimia Saavedra</h5>
                <p class="card-text">Equipo de programación</p>
                
              </div>
            </div>
      </div>
</div>

</section>
<section class="sec2" id="mentoria">
    <div class="container">
        <div class="row">
            <div class="offset-sm-2 col-sm-8">
                <div class="headerText text-center">
                    <h2>Mentoria y supervision de contenidos</h2>
                </div>
             </div>
        </div>
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mgr. Luis Fernando Ruiz</h5>
                  <p class="card-text">Supervisor general</p>
                  
                </div>
              </div>
            
                <div class="card" style="width: 18rem;">
                    <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mgr. Carlos Eduardo Camargo Arce</h5>
                      <p class="card-text">Mentor general</p>
                      
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                      <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Mgr. Paula Denice Lujan Lopez</h5>
                        <p class="card-text">Mentora Twentypreneur</p>
                        
                      </div>
                    </div>
        
          </div>
<br>
<div class="row">
    <div class="card" style="width: 18rem;">
        <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lic. Siamak Marjouel</h5>
          <p class="card-text">Mentor Steem</p>
          
        </div>
      </div>
   
  </div>

        </div>
</section>
<section class="sec3" id="diseño">
  <div class="container">
    <div class="row">
        <div class="offset-sm-2 col-sm-8">
            <div class="headerText text-center">
                <h2>Diseño gráfico</h2>
            </div>
         </div>
    </div>
    <div class="row"> 
        <div class="card" style="width: 18rem; text-align:center;">
            <img src="../../../imagenes/polera_1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Jaime Eduardo Clavijo Escobar</h5>
              <p class="card-text">Diseñador gráfico</p>
              
            </div>
          </div>
       
      </div>
    </div>
</section>
<section class="sec4" id="agradecimiento">
    <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">Agradecimientos</h1>
              <p class="lead">Todos los miembros del equipo de becarios involucrados en el proyecto deseamos agradecer a nuestros
                    mentores y supervisores por los aportes, seguimiento y ayuda que nos han otorgado durante las
                    jornadas de trabajo. Asi mismo, deseamos agradecer a las instituciones que nos han brindado los recursos
                    y la confianza durante todo el proceso de desarrollo del software, documentos y materiales asociados
                    al proyecto "BUSINESS SIMULATOR."
              </p>
            </div>
          </div>
</section>

<section class="heading" id="auspiciadores">
       
    <div class="cuadro">
         <img src="../../../imagenes/logo embajada USA.png" class="foto"> 
 
 

     
         <img src="../../../imagenes/logo american spaces.png" class="foto">
        
         
         
             
         <img src="../../../imagenes/LOGO CBA mediano(color).png" class="foto">
     
    </div>

    <script type="text/javascript"> 
      $(document).scroll(function(){
      $('.navbar').toggleClass('scrolled', $(this).scrollTop() > $('.navbar').height());
      })
</script>
