<ul class="nav" snScrollSpy id="foo">
    <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="./about#autores">Autores</a></li>
    <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="./about#equipo">Equipo</a></li>
    <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="./about#mentores">Mentores</a></li>
    <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="./about#agradecimientos">Agradecimientos</a></li>
    <li class="nav-item"><a snScrollSpyItem for="foo" class="nav-link" href="./about#auspiciadores">Auspiciadores</a></li>
  </ul>
  
  <app-scroll-spy-section id="autores" for="foo">
    <section class="sec1" id="autores">
    </section>
    <br>
    <br>
    <br>
    <br>
    <h1 class="heading">Autores y agradecimientos</h1>
    <pre class="lyrics">
        El software, los documentos y todos los materiales asociados al proyecto "BUSINESS SIMULATOR"
        son obra colectiva planteada, diseñada y desarrollada por un equipo de becarios de los programas
        Twentypreneur y Steem. El proyecto se llevó a cabo bajo la supervisión de mentores asignados
        por nuestro benefactores; La Embajada de los Estados Unidos, American Space y CBA-Cochabamba.</pre>
    
  </app-scroll-spy-section>
  
  <app-scroll-spy-section id="equipo" for="foo">
  <section class="sec2">
        <div class="container">
                <h1 class="heading">Equipo de Desarrollo</h1>
                
  <div class="card-wrapper">
       <div class="card">
       <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
       <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
       <h1>Jaime Eduardo Clavijo Escobar</h1>    
       <p class="job-title">Dirección General</p>
       </div>
            
       <div class="card">
        <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
        <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
        <h1>Julia Valentina Gutiérrez Munzón</h1>    
       <p class="job-title">Encargada del equipo de programación</p>
       </div> 
            
            
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Jhoselin Luizaga Rodriguez</h1>    
        <p class="job-title">Encargada del equipo de investigación e implementación</p>
        </div>
                  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Ana Corina Mamani Choque</h1>    
        <p class="job-title">Secretaria General</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Ely Fernandez Macia</h1>    
        <p class="job-title">Secretaria equipo de investigación e implementación</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Jeraldin Villanueva Cardozo</h1>    
        <p class="job-title">Equipo de investigación e implementación</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Ivy Saskia Sejas Rocabado</h1>    
        <p class="job-title">Analista de Programación</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Luz Silvina Choque Jacinto</h1>    
        <p class="job-title">Control de calidad</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>David Gallo Roca</h1>    
        <p class="job-title">Equipo de Programación</p>
        </div> 
  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Rosario Mireya CHuquimia Saavedra</h1>    
        <p class="job-title">Equipo de Programación</p>
        </div> 
  
    </div>
  
  </div>
  </section>
  </app-scroll-spy-section>
  <app-scroll-spy-section id="mentores" for="foo">
  <section class="sec3">
        <div class="container">
                <h1 class="heading">Mentores</h1>
                
  <div class="card-wrapper">
       <div class="card">
        <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
        <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
     
        <h1>Mgr. Luis Fernando Ruiz</h1>    
       <p class="job-title">Supervisor General</p>
       </div>
            
       <div class="card">
        <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
        <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
      
        <h1>Mgr. Carlos Eduardo Camargo Arce</h1>    
       <p class="job-title">Mentor General</p>
       </div> 
            
            
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Mgr. Paula Denice Lujan Lopez</h1>    
        <p class="job-title">Mentora Twentyprenuer</p>
        </div>
                  
        <div class="card">
          <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
          <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
        
          <h1>Lic. Siamak Marjouei</h1>    
        <p class="job-title">Mentor Steem</p>
        </div> 
  
    </div>
  
  </div>
  </section>
  </app-scroll-spy-section>
  <app-scroll-spy-section id="diseño" for="foo">
  <section class="sec4">
        <div class="container">
                <h1 class="heading">Diseño</h1>
                
  <div class="card-wrapper">
       <div class="card">
        <img src="../../../imagenes/picture1.jpg" alt="card background" class="card-img">
        <img src="../../../imagenes/picture2.jpg" alt="profile image" class="profile-img">
      
        <h1>Jaime Eduardo Clavijo Escobar</h1>    
       <p class="job-title">Diseñador Gráfico</p>
       </div>
            
    </div>
  
  </div>
  </section>
  </app-scroll-spy-section>
  <app-scroll-spy-section id="agradecimientos" for="foo">
    <br>
    <br>
  <section class="sec5">
        <h1 class="heading">Agradecimientos</h1>
        <pre class="lyrics">
        Todos los miembros del equipo de becarios involucrados en el proyecto deseamos agradecer a nuestros
        mentores y supervisores por los aportes, seguimiento y ayuda que nos han otorgado durante las
        jornadas de trabajo. Asi mismo, deseamos agradecer a las instituciones que nos han brindado los recursos
        y la confianza durante todo el proceso de desarrollo del software, documentos y materiales asociados
        al proyecto "BUSINESS SIMULATOR."
             </pre>    
  </section>
  </app-scroll-spy-section>
  <app-scroll-spy-section id="auspiciadores" for="foo">
  <section class="sec6">
  <h1 class="heading">Auspiciadores</h1>
  <div class="cuadro">
        <img src="../../../imagenes/logo embajada USA.png" class="foto"> 
  
  
  
    
        <img src="../../../imagenes/logo american spaces.png" class="foto">
       
        
        
            
        <img src="../../../imagenes/LOGO CBA mediano(color).png" class="foto">
    
   </div>
  </section>
  </app-scroll-spy-section>ion>
      