<div id="main-containerVentas">
  <table>
          <thead>
            <tr>
                <th>DETALLE</th>
                <th>UNIDADES</th>
                <th>MONETARIO</th>

            </tr>
          </thead>

          <tbody>
            <tr>
              <td>PRODUCIDO</td>
              <td>{{ventas.producidoUnidades}}</td>
              <td>{{ventas.producidoMonetario}}</td>

            </tr>
            <tr>
              <td>VENTAS REALIZADAS</td>
              <td>{{ventas.ventasRealizadasUnidades}}</td>
              <td>{{ventas.ventasRealizadasMonetario}}</td>
            </tr>
            <tr>
              <td>INVENTARIO</td>
              <td>{{ventas.inventarioUnidades}}</td>
              <td>{{ventas.inventarioMonetario}}</td>
            </tr>
            <tr>
              <td>PEDIDOS NO ATENDIDOS</td>
              <td>{{ventas.pedidosNoAtendidosUnidades}}</td>
              <td>{{ventas.pedidosNoAtendidosMonetario}}</td>
            </tr>
          </tbody>
        </table>
</div>
