<div id="main-container">
  <table id="success">
    <thead>
      <tr>
        <th>DETALLE</th>
        <th>BIMESTRE</th>
        <th>% VARIACIÓN</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>VENTAS DE LA INDUSTRIA (UNIDADES)</td>
        <td>{{ventasIndustria.ventasIndustriaUnidadesActual | thousandPipe}}</td>
        <td>{{Math.round((ventasIndustria.ventasIndustriaUnidadesActual-ventasIndustria.ventasIndustriaUnidadesAnterior)/ventasIndustria.ventasIndustriaUnidadesAnterior*100)}} %</td>

      </tr>
      <tr>
        <td class="td2">VENTAS DE LA INDUSTRIA (MONETARIO)</td>
        <td class="td2">{{ventasIndustria.ventasIndustriaMonetarioActual | thousandPipe}}</td>
        <td class="td2">{{Math.round((ventasIndustria.ventasIndustriaMonetarioActual-ventasIndustria.ventasIndustriaMonetarioAnterior)/ventasIndustria.ventasIndustriaMonetarioAnterior*100)}} %</td>

      </tr>
      <tr>
        <td>PRECIO UNITARIO PROMEDIO</td>
        <td>{{ventasIndustria.precioUnitarioPromedioActual | thousandPipe}}</td>
        <td>{{Math.round((ventasIndustria.precioUnitarioPromedioActual-ventasIndustria.precioUnitarioPromedioAnterior)/ventasIndustria.precioUnitarioPromedioAnterior*100)}} %</td>

      </tr>

      <tr>
        <td class="td2">INVENTARIOS PROMEDIO</td>
        <td class="td2">{{ventasIndustria.inventarioPromediosActual | thousandPipe}}</td>
        <td *ngIf="ventasIndustria.inventarioPromediosAnterior!=0" class="td2">{{Math.round((ventasIndustria.inventarioPromediosActual-ventasIndustria.inventarioPromediosAnterior)/ventasIndustria.inventarioPromediosAnterior*100)}} %</td>
        <td *ngIf="ventasIndustria.inventarioPromediosAnterior==0" class="td2">Incremento en {{ventasIndustria.inventarioPromediosActual-ventasIndustria.inventarioPromediosAnterior}} unidades</td>
      </tr>

    </tbody>
  </table>

</div>
