<div id="main-container">
    <table id="success">
            <thead>
              <tr>
                  <th >DETALLE</th>
                  <th >BIMESTRE</th>
                  <th >% VARIACIÓN</th>
              </tr>
            </thead>

            <tbody >
              <tr>
                <td >VENTAS DE LA INDUSTRIA (UNIDADES)</td>
                <td >{{ventasIndustria.ventasIndustriaUnidadesActual}}</td>
                <td >{{(ventasIndustria.ventasIndustriaUnidadesActual-ventasIndustria.ventasIndustriaUnidadesAnterior)/ventasIndustria.ventasIndustriaUnidadesAnterior*100}} %</td>

              </tr>
              <tr>
                <td class="td2">VENTAS DE LA INDUSTRIA (MONETARIO)</td>
                <td class="td2">{{ventasIndustria.ventasIndustriaMonetarioActual}}</td>
                <td class="td2">{{(ventasIndustria.ventasIndustriaMonetarioActual-ventasIndustria.ventasIndustriaMonetarioAnterior)/ventasIndustria.ventasIndustriaMonetarioAnterior*100}} %</td>

              </tr>
              <tr>
                <td >PRECIO UNITARIO PROMEDIO</td>
                <td >{{ventasIndustria.precioUnitarioPromedioActual}}</td>
                <td >{{(ventasIndustria.precioUnitarioPromedioActual-ventasIndustria.precioUnitarioPromedioAnterior)/ventasIndustria.precioUnitarioPromedioAnterior*100}} %</td>

              </tr>

              <tr >
                <td class="td2">INVENTARIOS PROMEDIO</td>
                <td class="td2">{{ventasIndustria.inventarioPromediosActual}}</td>
                <td class="td2">{{(ventasIndustria.inventarioPromediosActual-ventasIndustria.invetarioPromediosAnterior)/ventasIndustria.invetarioPromediosAnterior*100}} %</td>

              </tr>

            </tbody>
      </table>

  </div>
