<form class="formularioModerador" [formGroup]="registerForm" #form="ngForm">
  <header>MODERADOR </header>
  <br>
  <br>
  <div class="form-group">
    <label>Nombre del Juego</label>
    <input type="text" formControlName="nombreMercado" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreMercado.errors }"
      placeholder="Nombre de tu juego" />
    <div *ngIf="submitted && f.nombreMercado.errors" class="invalid-feedback">
      <div *ngIf="f.nombreMercado.errors.required" style="color: red">Nombre del juego es requerido</div>
    </div>
  </div>
  <br>

  <label>Cantidad de Jugadores</label>
  <br>
  <div class="form-group">
    <div class="styled-select jugadores">
      <select formControlName="cantidadJugadores">
        <option value="2" selected>2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>

  <button type="submit" (click)="onClickMe()">Hecho</button>

</form>
