<div id="main_container">
  <aside>
    <div id="logo_container">
      <img id="logo_image" src="/imagenes/LOGO SIMULADOR FINAL.png">
      <div id="nombre_empresa"> Codigo de Juego: {{(http.game)?http.game.codigo:""}}</div>
    </div>
    <div class="button_tab_container" style="background-color: #135A82;">
      <button (click)="parciales()" class="boton-decision tab_menu_button" style="background-color: #135A82;">
        RESULTADOS PARCIALES
      </button>
      <div class="{{tap_position==1 ? '' : 'tap_menu_hidden'}}  tab_menu_description">
        En esta secci&#243;n puede observar los resultados parciales del juego.
      </div>
    </div>
    <div class="button_tab_container" style="background-color: #0D8EC8;">
      <button (click)="finales()" class="boton-t-analisi tab_menu_button" style="background-color: #0D8EC8;">
        RESULTADOS FINALES
      </button>
      <div class="{{tap_position==2? '' : 'tap_menu_hidden'}}  tab_menu_description">
        En esta secci&#243;n puede observar los resultados parciales del juego.
      </div>
    </div>
  </aside>
  <div id="body_container">
    <div class="section_container {{tap_position==1 ? '' : 'tap_menu_hidden'}}" style="background-color: #135A82;">
      <div class="section_container_body">
        <div class="section_title">
          <div class="material-icons section_title_icon" style="background-color: #135A82;">person</div>
          <div class="section_title_desc"> PUNTAJES PARCIALES </div>
        </div>

        <div class="section_body">
          <div style="display: flex; justify-content: center;">
            <div class="tabla-decision">
               <table id="t01">
                <thead>
                <tr>
                  <th class="th1" colspan=7>BENEFICIO</th>
                </tr>
                  <tr>
                  <th >COMPAÑIA</th>
                  <th >Bimestre 1</th>
                  <th >Puntaje</th>
                  <th >Bimestre 2</th>
                  <th >Puntaje</th>
                  <th >Bimestre 3</th>
                  <th >Puntaje</th>
                  </tr>
                </thead>

            <tbody >
              <td><tr *ngFor="let visionG of http.game.players">{{visionG.name}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralUno">{{visionG.beneficio}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralUno">{{visionG.puntajeBeneficio}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralDos">{{visionG.beneficio}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralDos">{{visionG.puntajeBeneficio}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralTres">{{visionG.beneficio}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralTres">{{visionG.puntajeBeneficio}}</tr></td>
            </tbody>
              </table>

              <table id="t01">
                <thead>
                <tr>
                  <th class="th1" colspan=7>% DE MERCADO</th>
                </tr>
                  <tr>
                  <th >COMPAÑIA</th>
                  <th >Bimestre 1</th>
                  <th >Puntaje</th>
                  <th >Bimestre 2</th>
                  <th >Puntaje</th>
                  <th >Bimestre 3</th>
                  <th >Puntaje</th>

                  <!-- <th *ngFor="let visionG of visionGeneral;let i=index">BIMESTRE {{i+1}}</th> -->
                  </tr>
                </thead>

            <tbody >
              <td><tr *ngFor="let visionG of http.game.players">{{visionG.name}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralUno">{{visionG.porcentajeDeMercado}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralUno">{{visionG.puntajeMercado}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralDos">{{visionG.porcentajeDeMercado}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralDos">{{visionG.puntajeMercado}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralTres">{{visionG.porcentajeDeMercado}}</tr></td>
              <td><tr *ngFor="let visionG of visionGeneralTres">{{visionG.puntajeMercado}}</tr></td>
            </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="section_container {{tap_position==2 ? '' : 'tap_menu_hidden'}}" style="background-color: #0D8EC8;">
      <div class="section_container_body">
        <div class="section_title">
          <div class="material-icons section_title_icon" style="background-color: #0D8EC8;">person</div>
          <div class="section_title_desc"> PUNTAJES TOTALES</div>
        </div>
        <div class="section_body">
          <div style="display: flex; justify-content: center;">
            <div class="tabla-decision">
               <table id="t01">
                <thead>
                <tr>
                  <th class="th1" colspan=5>PUNTAJES TOTALES</th>
                </tr>
                  <tr>
                  <th >COMPAÑIA</th>
                  <th >Puntaje total</th>
                  </tr>
                </thead>

            <tbody >
              <td><tr *ngFor="let visionG of http.game.players">{{visionG.name}}</tr></td>
              <td><tr *ngFor="let resultados of resultadosFinales" >{{resultados}}</tr></td>
            </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
