<div>
	<h6>RESULTADOS</h6>
	 <table>
          <thead>
            <tr>
                <th >EMPRESA</th>
                <th >BIMESTRE 1 </th>
                <th >PUNTAJE  </th>
                <th >BIMESTRE 2 </th>
                <th >PUNTAJE</th>
                <th >BIMESTRE 3 </th>
                <th >PUNTAJE</th>          
            </tr>
          </thead>

          <tbody >
            <tr>
              <td >EMP1</td>
              <td >95.000</td>
              <TD>10</TD>
              <td >95.000</td>
              <TD>10</TD>
              <td >95.000</td>
              <TD>10</TD>
            </tr>
          </tbody>
    </table>
</div>

<div>
	<h6>RESULTADOS</h6>
	<table>
          <thead>
            <tr>
                <th >EMPRESA</th>
                <th >PUNTAJE FINAL</th>          
            </tr>
          </thead>

          <tbody >
            <tr>
              <td >EMP1</td>
              <td >95.000</td>
            </tr>
          </tbody>
    </table>
</div>