<div class="background">
    <div class="backgrounds">
    </div>


<div class="box">
   <img src="/imagenes/logo-oficial.png" alt="" class="logo-cba">
  
   <br>
   <div>
   <img src="/imagenes/simulator-logo.jpg" class="logo-cba">
   </div>

<form [formGroup]="registerForm" class="formularioJugar"  #form="ngForm">
          <div class="inputBox">
              <input type="text" formControlName="jugador" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jugador.errors }"required/>
              <div *ngIf="submitted && f.jugador.errors" class="invalid-feedback">
                  <div *ngIf="f.jugador.errors.required" style="color: red;font-size: 12px">Jugador es requerido</div>
              </div>
          <label>Jugador</label>

          <div class="inputBox">
              <input type="number" formControlName="edad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.edad.errors }"required/>
              <div *ngIf="submitted && f.edad.errors" class="invalid-feedback">
                  <div *ngIf="f.edad.errors.required" style="color: red;font-size: 12px">Edad es requerido</div>
              </div>
              <label>Edad</label>

          </div>
          <br>
        </div>
        <div class="select-style">
            <select  formControlName="ciudad" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ciudad.errors }"required>
              <option value="" disabled selected>Elige tu pais</option>
              <option value="ARGENTINA">ARGENTINA</option>
              <option value="BOLIVIA">BOLIVIA</option>
              <option value="CHILE">CHILE</option>
              <option value="COLOBIA">COLOMBIA</option>
              <option value="ECUADOR">ECUADOR</option>
              <option value="PARAGUAY">PARAGUAY</option>
              <option value="PERÚ">PERÚ</option>
              <option value="URUGUAY">URUGUAY</option>
              <option value="VENEZUELA">VENEZUELA</option>
            </select>
        </div>
        <div *ngIf="submitted && f.ciudad.errors" class="invalid-feedback">
            <div *ngIf="f.ciudad.errors.required" style="color: red;font-size: 12px">Ciudad es requerido</div>
        </div>
        <br>

        <input type="submit" name="" value="Unirse a un juego" (click)="jugar()">
        <br>
        <br>
        <input type="submit" name="" value="Crear un juego" (click)="moderador()">
</form>
        </div>
</div>
