<div class="background">
    <img class="backgrounds" src="/imagenes/imagen.jpg" alt="">
    

<div class="box">
   <img src="/imagenes/logo-oficial.png" alt="" class="logo-cba">
   <br> 
   <h2>Business Simulator</h2>
    
    <form>
        <div class="inputBox">
            <input type="text" name="" required>
            <label>Jugador</label>
        </div>
        <div class="inputBox">
            <input type="text" name="" required>
            <label>Ciudad</label>
        </div>
        <div class="inputBox">
            <input type="text" name="" required>
            <label>Edad</label>
        </div>
        <br>
        <input type="submit" name="" value="Unirse a un juego" (click)="jugar()">
        <br>
        <br>
        <input type="submit" name="" value="Crear un juego" (click)="moderador()">
       
       </form>
        </div>
</div>