<div id="main-containerCostos">
  <table>
    <tbody>
            <tr>
                <th colspan="7">MATERIA PRIMA</th>
                <th>{{costosProduccion.materiaPrima}}</th>
            </tr>


            <tr>
              <td></td>
              <td id="subItemTipo1">Poleras basicas (35 la unidad)</td>
              <td colspan="4"></td>
              <td>{{costosProduccion.materiaPrima}}</td>
              <td></td>

            </tr>
            <tr>
                <th colspan="7">MANO DE OBRA DIRECTA</th>
                <th>8.000</th>

            </tr>

            <tr>
              <td></td>
              <td id="subItemTipo1">Sueldos</td>
              <td colspan="4"></td>
              <td>6000</td>
              <td></td>
            </tr>

            <tr>
              <td></td>
              <td id="subItemTipo1">Beneficios sociales</td>
              <td colspan="4"></td>
              <td>2.000</td>
              <td></td>

            </tr>

              <tr>
              <th colspan="7">COSTOS INDIRECTOS</th>
              <th>22.770</th>

            </tr>

            <tr>
  			      <td></td>
              <td id="subItemTipo1">Material indirecto</td>
              <td colspan="4"></td>
              <td>5.000</td>
              <td></td>

            </tr>


            <tr>

              <td colspan="2"></td>
              <td>  Insumos</td>
              <td colspan="2"></td>
              <td>5.000</td>
              <td colspan="2"></td>


            </tr>


            <tr>
              <td></td>
              <td id="subItemTipo1">Mano de obra indirecto</td>
              <td colspan="4"></td>
              <td>16.120</td>
              <td></td>

            </tr>


            <tr>
              <td colspan="2"></td>
              <td>Sueldos</td>
              <td colspan="2"></td>
              <td>12.000</td>
              <td colspan="2"></td>

            </tr>


            <tr>

              <td colspan="2"></td>
              <td>Beneficios sociales</td>
              <td colspan="2"></td>
              <td>4.120</td>
              <td colspan="2"></td>

            </tr>


            <tr>

              <td></td>
              <td id="subItemTipo1">Depreciación maquinaria</td>
              <td colspan="4"></td>
              <td>150</td>
              <td></td>

            </tr>

            <tr>
              <td></td>
              <td id="subItemTipo1">Servicios</td>
              <td colspan="4"></td>
              <td>200</td>
              <td></td>


            </tr>

            <tr>

              <td></td>
              <td id="subItemTipo1">Alquiler</td>
              <td colspan="4"></td>
              <td>1.300</td>
              <td></td>
            </tr>

            <tr>
                <th colspan="7">COSTO TOTAL</th>
                <th>{{costosProduccion.costoTotal}}</th>

            </tr>
            <tr>
                <th colspan="7">COSTO UNITARIO</th>
                <th>{{costosProduccion.costoUnitario}}</th>

            </tr>
          </tbody>
        </table>
      </div>
