<div id="main-containerCostos">
  <table>
    <tbody>
      <tr>
        <th colspan="7">MATERIA PRIMA</th>
        <th>{{costosProduccion.materiaPrima | thousandPipe}}</th>
      </tr>


      <tr>
        <td></td>
        <td id="subItemTipo1">Poleras basicas (50 la unidad)</td>
        <td colspan="4"></td>
        <td>{{costosProduccion.materiaPrima | thousandPipe}}</td>
        <td></td>

      </tr>
      <tr>
        <th colspan="7">MANO DE OBRA DIRECTA</th>
        <th>{{8000 | thousandPipe}}</th>

      </tr>

      <tr>
        <td></td>
        <td id="subItemTipo1">Sueldos</td>
        <td colspan="4"></td>
        <td>{{6000 | thousandPipe}}</td>
        <td></td>
      </tr>

      <tr>
        <td></td>
        <td id="subItemTipo1">Beneficios sociales</td>
        <td colspan="4"></td>
        <td>{{2000 | thousandPipe}}</td>
        <td></td>

      </tr>

      <tr>
        <th colspan="7">COSTOS INDIRECTOS</th>
        <th>{{22770 | thousandPipe}}</th>

      </tr>

      <tr>
        <td></td>
        <td id="subItemTipo1">Material indirecto</td>
        <td colspan="4"></td>
        <td>{{5000 | thousandPipe}}</td>
        <td></td>

      </tr>


      <tr>

        <td colspan="2"></td>
        <td> Insumos</td>
        <td colspan="2"></td>
        <td>{{5000 | thousandPipe}}</td>
        <td colspan="2"></td>


      </tr>


      <tr>
        <td></td>
        <td id="subItemTipo1">Mano de obra indirecto</td>
        <td colspan="4"></td>
        <td>{{16120 | thousandPipe}}</td>
        <td></td>

      </tr>


      <tr>
        <td colspan="2"></td>
        <td>Sueldos</td>
        <td colspan="2"></td>
        <td>{{12000 | thousandPipe}}</td>
        <td colspan="2"></td>

      </tr>


      <tr>

        <td colspan="2"></td>
        <td>Beneficios sociales</td>
        <td colspan="2"></td>
        <td>{{4120 | thousandPipe}}</td>
        <td colspan="2"></td>

      </tr>


      <tr>

        <td></td>
        <td id="subItemTipo1">Depreciación maquinaria</td>
        <td colspan="4"></td>
        <td>150</td>
        <td></td>

      </tr>

      <tr>
        <td></td>
        <td id="subItemTipo1">Servicios</td>
        <td colspan="4"></td>
        <td>200</td>
        <td></td>


      </tr>

      <tr>

        <td></td>
        <td id="subItemTipo1">Alquiler</td>
        <td colspan="4"></td>
        <td>{{1300 | thousandPipe}}</td>
        <td></td>
      </tr>

      <tr>
        <th colspan="7">COSTO TOTAL</th>
        <th>{{costosProduccion.costoTotal | thousandPipe}}</th>

      </tr>
      <tr>
        <th colspan="7">COSTO UNITARIO</th>
        <th>{{costosProduccion.costoUnitario}}</th>

      </tr>
    </tbody>
  </table>
</div>
